<head>
	<title>Conference Api</title>
	<link rel="stylesheet" href="../../../public/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../public/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
	<link rel="stylesheet" href="../../../public/bower_components/purecss/src/base/css/base.css">
	<link rel="stylesheet" href="../../../public/bower_components/purecss/src/buttons/css/buttons.css">
	<link rel="stylesheet" href="../../../public/bower_components/purecss/src/buttons/css/buttons-core.css">
	<link rel="stylesheet" href="../../../public/bower_components/purecss/src/forms/css/forms.css">
	<link rel="stylesheet" href="../../../public/bower_components/purecss/src/menus/css/menus-core.css">


	<style>
		.container {
			width: 60%;
			margin: 0 auto;
			padding-top: 80px;
		}
		
		.alert {

			color: #ffffff;
			padding: 10px;
			background-color: #ff0000;
		}
	</style>
</head>